<div class='stream'>
  <a href={{streamLink}} target='_blank'>
    <img src={{imgLink}}>
  </a>
  <p>Streamer: {{name}}</p>
  <p>Game: {{game}}</p>
  <p>Viewers: {{viewers}}</p>
  <p>Description: {{title}}</p>
</div>
